STRONG_STOCK_TICKFLOW_API_KEY=
STRONG_STOCK_TICKFLOW_BASE_URL=https://api.tickflow.org
STRONG_STOCK_CANDIDATE_PROVIDER=recent_limit_up
STRONG_STOCK_DATA_DIR=./data
STRONG_STOCK_CORS_ALLOW_ORIGINS=http://localhost:3110,http://127.0.0.1:3110
